@use '@angular/material' as mat;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  background-color: #242424;
  color: #d8d8d8;
}

html {
  height: 100%;
}

mat-toolbar {
  background-color: #1e1a1d !important;
  box-shadow: 0 0.1rem 0.3rem 0 #00000065;
}

a {
  text-decoration: none;
  color: #d8d8d8;

  &.site-link {
    direction: rtl;

    mat-icon {
      margin-right: 0 !important;
      margin-left: 0.5rem !important;
    }
  }
}

.gradient-text {
  background: linear-gradient(45deg, #ff1520, #ff2ca4, #d330de, #9b17fa);
  -webkit-background-clip: text;
  /* For Safari and Chrome */
  -webkit-text-fill-color: transparent;
  /* For Safari and Chrome */
  background-clip: text;
  /* For Firefox */
  color: transparent;
  font-weight: 500;
}

.gradient-bgr {
  background: linear-gradient(45deg, #ff1521a3, #ff2ca4a1, #d230dea0, #9b17faa1) !important;
  color: inherit;
}

.gradient-bgr-subtle {
  background: linear-gradient(45deg, #ff15212b, #ff2ca429, #d230de2b, #9b17fa29) !important;
  color: inherit;

  &.active {
    background: linear-gradient(45deg, #ff152184, #ff2ca481, #d230de7e, #9b17fa80) !important;
  }
}

mat-card {
  color: #d8d8d8 !important;
  box-shadow: 0 0.1rem 0.3rem 0 #00000074 !important;
}

app-footer {
  background-color: #1e1a1d;
  color: #d8d8d8 !important;
  box-shadow: 0 -0.1rem 0.3rem 0 #00000065;
}

@media (prefers-color-scheme: light) {
  body {
    @include mat.theme((
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

    background-color: #e8e8e8;
    color: #333 !important;
  }

  mat-toolbar {
    background-color: #d9d9d9 !important;
    color: #333;
    box-shadow: 0 0.1rem 0.3rem 0 #00000036;
  }

  *[mat-mini-fab] {
    background-color: #d9d9d9 !important;
    color: #333;
  }

  mat-card {
    background-color: #dedede !important;
    color: #333 !important;
  }

  app-footer {
    background-color: #d9d9d9;
    color: #333;
    box-shadow: 0 -0.1rem 0.3rem 0 #00000036;
  }
}

