.carousel-container {
  position: relative;
  perspective: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 60dvw;
  height: 80dvh;
  padding-bottom: 1rem;

  .carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    mat-card {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 22vw;
      height: 55vh;
      padding: 2rem;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

      &.active {
        transform: scale(1.2) translateX(0) translateZ(3.125rem);
        z-index: 3;
      }

      &.next, &.prev {
        transform: scale(0.9) translateX(9.5rem) translateZ(-1.25rem);
        z-index: 2;
        opacity: 0.8;
      }

      &.prev {
        transform: scale(0.9) translateX(-9.5rem) translateZ(-1.25rem);
      }

      &.hidden {
        transform: scale(0.7) translateX(20rem) translateZ(-2.5rem);
        z-index: 1;
        opacity: 0.5;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
      }

      .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 10rem;
        height: 10rem;

        img {
          width: 100%;
          height: 100%;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: center;
        margin: 0;
      }
    }

    .paginator {
      display: flex;
      gap: 10px;
      margin-top: 15px;

      span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #ccc;
        cursor: pointer;
        transition: background 0.3s, transform 0.3s;

        &.active {
          background: #333;
          transform: scale(1.2);
        }
      }
    }
  }

  .paginator {
    display: flex;
    gap: 1rem;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;

      cursor: pointer;
      transition: background 0.3s, transform 0.3s;

      &.active {
        background: #333;
        transform: scale(1.2);
      }
    }
  }

  button {
    &[mat-mini-fab]{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;

      &:first-of-type {
        left: -2.5rem;
      }

      &:last-of-type {
        right: -2.5rem;
      }
    }
  }
}


